<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
        <ion-menu-button menu="main-menu"></ion-menu-button>
      <ion-title>Profil</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="container" >
  <div class="main">
      <ion-label class="label">İsim</ion-label>
      <ion-input [(ngModel)]="tname" name="name" type="text" class="input" value={{name}}></ion-input>
      <ion-label class="label">Soyisim</ion-label>
      <ion-input [(ngModel)]="tsurname" name="surname"  type="text" class="input" value={{surname}}></ion-input>
      <ion-label class="label">E-mail</ion-label>
      <ion-input [(ngModel)]="temail" name="email" type="text" class="input" value={{email}}></ion-input>
      <ion-label class="label">Kullanıcı Adı</ion-label>
      <ion-input [(ngModel)]="tusername" name="username" type="text" class="input" value={{username}}></ion-input>
      <ion-label class="label">Şifre</ion-label>
      <ion-input [(ngModel)]="tpassword" name="password"  type="text" class="input" value={{password}}></ion-input>
      <ion-label class="label">Şifre tekrar</ion-label>
      <ion-input [(ngModel)]="tpasswordCheck" name="passwordCheck"  type="text" class="input"  placeholder="Şifre tekrar"></ion-input>
      <ion-button (click)="save()" size="large" style="display: flex; font-size: 13pt;">Kaydet</ion-button>
    
  </div>
</ion-content>
