.container{
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100% !important;
  background-color: rgb(54, 54, 54);
}
ion-card {
  background-color: rgb(224, 224, 224);

  ion-card-title{
      font-size: 15pt;
      color: rgb(54, 54, 54);
      font-weight: bold;
  }
  ion-card-subtitle{   
      margin-top: 10px;     
      font-size: 15pt;
      color: rgb(54, 54, 54);
  }
  ion-text{
      font-size: 13pt;
      color: rgb(54, 54, 54);
  }
}
.offer{
  display: flex;
  flex-direction: column;
  padding: 10px;

}
.textStyle{
  font-size: 15pt;
}
.input{
  height: 44px;
  font-size: 16pt;
  color: rgb(54, 54, 54);
  background-color: rgb(190, 190, 190);
  margin-right: 5px;
  border-radius: 4px;
}
.button{
  padding-left: 10px;
  height: 44px;
  margin-top: -1px;
}
